<a href="https://colab.research.google.com/github/duartejr/blue_edtech/blob/master/M1/M01_aula14_codelab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 14 - [CODELAB] Introdução ao Python - Parte 2

## Conteúdos
* Exercícios para fazer
* Exercícios para testar

## Exercícios para fazer

1. Peça ao usuário uma palavra e a devolva com as letras ao contrário. Caso a palavra seja a mesma nos dois sentidos, imprima uma mensagem dizendo que é um palíndromo.

In [ ]:
word = input('Informe uma palavra: ')
inverted_word = word[-1::-1]
print('O inverso da sua palavra é:', inverted_word)
if word == inverted_word:
  print(f'{inverted_word} é um palíndromo.')

Informe uma palavra: comida
O inverso da sua palavra é:  adimoc

2. Peça ao usuário uma palavra, coloque todas as letras em caixa baixa e, depois, cada vogal na palavra deve ser convertido para letra maiúscula.

In [ ]:
vowels = 'aeiou'

word = input('Informe uma palavra: ')
word = word.lower()

for vowel in vowels:
  word = word.replace(vowel, vowel.upper())

print(word)

Informe uma palavra: tomada
tOmAdA

3. Peça ao usuário uma palavra e exiba três mensagens, na primeira deve conter todas as letras digitadas na palavra, na segunda todos os números e na terceira o que não for nem letra e nem número.

In [ ]:
import re

word = input('Informe uma palavra: ')
digits = ''
letters = ''
chars = ''

for char in word:
  if char.isdigit():
    digits += char
  elif re.match('[a-zA-Z]', char):
    letters += char
  else:
    chars += char

print('Letras digitadas:', letters)
print('Números digitados:', digits)
print('Caracteres digitados:', chars)

Informe uma palavra: 1 tomada de larajans?
Letras digitadas: tomadadelarajans
Números digitados: 1
Caracteres digitados:    ?

4. Pergunte ao usuário quantos números serão digitados, depois exiba a soma deles, a média, o menor, o maior, quantos números pares e quantos números ímpares foram digitados. Utilize o 0 como critério de parada.

In [ ]:
n = int(input('Quantos números serão digitados? '))
numbers = []
count_even = 0
count_odd = 0

for i in range(n):
  numbers.append(int(input(f'Informe o {i+1}º número: ')))
  if numbers[i] // 2:
    count_odd += 1
  else:
    count_even += 1


print('A soma de todos os números é:', sum(numbers))
print('A média dos números é:', sum(numbers)/n)
print('O menor número é:', min(numbers))
print('O maior número é:', max(numbers))
print('Quantidade de números pares:', count_even)
print('Quantidade de números ímpares:', count_odd)

Quantos números serão digitados? 3
Informe o 1º número: 1
Informe o 2º número: 2
Informe o 3º número: 3
A soma de todos os números é: 6
A média dos números é: 2.0
O menor número é: 1
O maior número é: 3
Quantidade de números pares: 1
Quantidade de números ímpares: 2

5. Peça um programa que o usuário deve digitar um número par e caso seja digitado um número ímpar, o programa deve repetir o pedido. Quando o número par for digitado, exiba a seguinte mensagem: Tarefa concluída.

In [ ]:
while True:
  number = int(input('Digite um número par: '))
  if not number % 2:
    print('Tarefa concluída')
    break

Digite um número par: 3

6. Escreva um programa que liste todos os números de -100 a 100 (com os extremos incluídos) e que todo múltiplo de 3 e 4 seja substituído pela palavra Aqui.

In [13]:
for n in range(-100, 101):
  if not(n%3) and not(n%4):
    print('Aqui')
  else:
    print(n)

-100
-99
-98
-97
Aqui
-95
-94
-93
-92
-91
-90
-89
-88
-87
-86
-85
Aqui
-83
-82
-81
-80
-79
-78
-77
-76
-75
-74
-73
Aqui
-71
-70
-69
-68
-67
-66
-65
-64
-63
-62
-61
Aqui
-59
-58
-57
-56
-55
-54
-53
-52
-51
-50
-49
Aqui
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
Aqui
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
Aqui
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
Aqui
-11
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
Aqui
1
2
3
4
5
6
7
8
9
10
11
Aqui
13
14
15
16
17
18
19
20
21
22
23
Aqui
25
26
27
28
29
30
31
32
33
34
35
Aqui
37
38
39
40
41
42
43
44
45
46
47
Aqui
49
50
51
52
53
54
55
56
57
58
59
Aqui
61
62
63
64
65
66
67
68
69
70
71
Aqui
73
74
75
76
77
78
79
80
81
82
83
Aqui
85
86
87
88
89
90
91
92
93
94
95
Aqui
97
98
99
100

7. Escreva um programa que inverta uma palavra. Por exemplo, caso a entrada seja Casa a saída deve ser asaC

In [ ]:
word = input('Digite uma palavra: ')
print(word[-1::-1])

Digite uma palavra: Abacaxi
ixacabA

8. Escreva um programa que desenhe o seguinte padrão:

* ** *** **** ***** ****** ******* ******** ********* ********** *********** ************ *************'

In [ ]:
for i in range(1, 14):
  print('*'*i, end=' ')

* ** *** **** ***** ****** ******* ******** ********* ********** *********** ************ *************

9. Escreva um programa que dê a tabuada dos números de 1 a 10.

In [ ]:
for i in range(1, 11):
  print(i, '* 10 =', i*10)

1 * 10 = 10
2 * 10 = 20
3 * 10 = 30
4 * 10 = 40
5 * 10 = 50
6 * 10 = 60
7 * 10 = 70
8 * 10 = 80
9 * 10 = 90
10 * 10 = 100

10. Escreva um programa que dado um número de 3 dígitos, a soma do cubo de cada dígito é igual ao próprio número. Por exemplo 1³ + 5³ + 3³ = 153.

In [ ]:
number = input('Digite um número: ')
new_number = 0

for i in number:
  new_number += int(i)**3

if int(number) == new_number:
  print('Esse número atende a condição.')
else:
  print('Esse número não atende a condição.')

Digite um número: 153
Esse número atende a condição.

11. Escreva um programa que dado um número de 4 dígitos, a soma dos dígitos após serem elevados à quarta potência totalizará o próprio número.
Por exemplo 1634 = 1 ** 4 + 6 ** 4 + 3 ** 4 + 4 ** 4

In [ ]:
number = input('Digite um número: ')
new_number = 0

for i in number:
  new_number += int(i)**4

if int(number) == new_number:
  print('Esse número atende a condição.')
else:
  print('Esse número não atende a condição.')

Digite um número: 1634
Esse número atende a condição.

12. Escreva um programa que dado um número de 5 dígitos, a soma dos dígitos após serem elevados à quinta potência totalizará o próprio número.
Por exemplo 54748 = 5 ** 5 + 4 ** 5 + 7 ** 5 + 4 ** 5 + 8 ** 5

In [ ]:
number = input('Digite um número: ')
new_number = 0

for i in number:
  new_number += int(i)**5

if int(number) == new_number:
  print('Esse número atende a condição.')
else:
  print('Esse número não atende a condição.')

Digite um número: 5478
Esse número não atende a condição.

13. A seguinte sequência 0, 1, 1, 2, 3, 5, 8, ... , conhecida como sequência de Fibonacci, é formada pela seguinte regra: o primeiro termo é 0, o segundo é 1, os próximos serão a soma dos dois anteriores. Escreva um programa que peça ao usuário um termo da sequência de Fibonacci e exiba-o na tela.

In [ ]:
pos = int(input('Informe o termo que deseja ver: '))
fib0 = 1
fib1 = 1
if pos > 2:
  for i in range(3, pos+1):
    fib0, fib1 = fib1, fib1+fib0

print(f'O {pos}º termo da sequência é: {fib1}')

Informe o termo que deseja ver: 6
O 6º termo da sequência é: 8

14. Você consegue refazer os exercícios dessa lista trocando o for por while? Escolha exercícios desta seção e da próxima e tente refazer trocando a estruturada do for pela do while.

In [ ]:
'Sim. Mas não quero'

'Sim. Mas não quero'

15. O que faz a função bool()?

In [ ]:
bool(0) # Retorna boolenao

False

16. Faça um programa que gere um número de 1 a 10, o usuário deve tentar adivinhar o número gerado, exiba True caso ele tenha acertado e False caso contrário.

In [ ]:
from random import randint

number = randint(1, 10)

user_choice = int(input('Qual o número que eu escolhi? Dúvido você acertar: '))

if user_choice == number:
  print('Acertou miseravi.')
else:
  print('Eu num disse que tu num acertava?')

Qual o número que eu escolhi? Dúvido você acertar: 4
Eu num disse que tu num acertava?

## Exercícios para testar

Diga o que os códigos a seguir fazem e, se possível, melhore-os

O programa a seguir conta quantas vogais tem em um nome

In [ ]:
nome = input("Digite seu nome: ")
quantVogal = 0

for i in range(len(nome)):
    if nome[i] == 'a' or nome[i] == 'e' or nome[i] == 'i' or nome[i] == 'o' or nome[i] == 'u':
        quantVogal += 1

print(quantVogal)

Digite seu nome: antonio
4

In [ ]:
name = input("Digite seu nome: ")
count_vowel = 0

for char in name:
    if char in 'aeiou':
        count_vowel += 1

print(count_vowel)

Digite seu nome: antonio
4

Imprime os valores a progressão geométrica.
 $$a_n = a_{(n-1)} . q$$
 Em que varia entre 1 e num (o valor informado)

In [ ]:
num = int(input("Digite um número não negativo: "))
mult = 1

if num < 0:
    print("Sinto muito, o programa só funciona para números positivos, ou nulo")
elif num == 0:
    print(0)
else:
    for i in range(1, num + 1): 
        mult = mult * i
        print(mult)

Digite um número não negativo: 4
1
2
6
24

Informa o signo da pessoa segundo o horóscopo chinês

In [ ]:
ano = int(input("Digite o ano em que você nasceu: "))
resto = ano % 12
msg = "Você é do signo do "

if resto == 0:
    print(msg + "macaco")
elif resto == 1:
    print(msg+"galo")
elif resto == 2:
    print(msg + "cão")
elif resto == 3:
    print(msg + "javali")
elif resto == 4:
    print(msg + "rato")
elif resto == 5:
    print(msg + "búfalo")
elif resto == 6:
    print(msg + "tigre")
elif resto == 7:
    print(msg + "coelho")
elif resto == 8:
    print(msg + "dragão")
elif resto == 9:
    print(msg + "serpente")
elif resto == 10:
    print(msg + "cavalo")
elif resto == 11:
    print("ovelha")

Digite o ano em que você nasceu: 1989
Você é do signo do serpente

In [ ]:
chinese_zodiac = { 0:'macaco',   1:'galo',    2:'cão', 3:'javali',     4:'rato',
                   5:'búfalo',  6:'tigre', 7:'coelho', 8:'dragão', 9:'serpente',
                  10:'cavalo', 11:'ovelha'}

year = int(input("Digite o ano em que você nasceu: "))
msg = "Você é do signo do "
print(msg + chinese_zodiac[year % 12])

Digite o ano em que você nasceu: 1989
Você é do signo do serpente

In [ ]:
print(1 < 2) # True
print(1 > 2) # False
print(1 == 2) # False
print(bool("")) # False
print(bool(" ")) #True

True
False
False
False
True

Imprime as letras da mensagem, uma por linha

In [ ]:
msg = "um dois três quatro cinco seis sete oito nove dez"
msg = msg.split()

for i in range(len(msg)):
  for j in range(len(msg[i])):
    print(msg[i][j])

u
m
d
o
i
s
t
r
ê
s
q
u
a
t
r
o
c
i
n
c
o
s
e
i
s
s
e
t
e
o
i
t
o
n
o
v
e
d
e
z

Printa a quantidade de vogais no texto

In [ ]:
nome = input("Digite seu nome: ")
quantVogal = 0
vogais = "a e i o u"
vogais = vogais.split()
for i in range(len(nome)):
    if nome[i] in vogais:
        quantVogal += 1
print(quantVogal)

Digite seu nome: junior
3

In [1]:
name = input("Digite seu nome: ").lower()
number_vowels = len([a for a in name if a in 'aeiou'])
print(number_vowels)

Digite seu nome: junior
3

Imprime a tabuada de vezes

In [2]:
for i in range(10): # aumente o 10 para 100 e veja o que acontece
    for j in range(10): # aumente o 10 para 100 e veja o que acontece
        print(str(i) + " x " + str(j) + " = " + str(i * j))

0 x 0 = 0
0 x 1 = 0
0 x 2 = 0
0 x 3 = 0
0 x 4 = 0
0 x 5 = 0
0 x 6 = 0
0 x 7 = 0
0 x 8 = 0
0 x 9 = 0
1 x 0 = 0
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 0 = 0
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 0 = 0
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 0 = 0
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 0 = 0
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 0 = 0
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 0 = 0
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [8]:
for i in range(10): # aumente o 10 para 100 e veja o que acontece
    print(f'Tabuada do {i}:')
    print("-"*20)
    for j in range(10): # aumente o 10 para 100 e veja o que acontece
        print(f"{i} x {j} = {i * j}")
    print("="*20)

Tabuada do 0:
--------------------
0 x 0 = 0
0 x 1 = 0
0 x 2 = 0
0 x 3 = 0
0 x 4 = 0
0 x 5 = 0
0 x 6 = 0
0 x 7 = 0
0 x 8 = 0
0 x 9 = 0
====================
Tabuada do 1:
--------------------
1 x 0 = 0
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
====================
Tabuada do 2:
--------------------
2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
====================
Tabuada do 3:
--------------------
3 x 0 = 0
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
====================
Tabuada do 4:
--------------------
4 x 0 = 0
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
====================
Tabuada do 5:
--------------------
5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
====================
Tabuada do 6:
--------------------
6 x 0 = 0
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
====================
Tabuada do 7:
--------------------
7 x 0 = 0
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
====================
Tabuada do 8:
--------------------
8 x 0 = 0
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
====================
Tabuada do 9:
--------------------
9 x 0 = 0
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
====================

Mostra a n-ésimo termo da sequência de Fibonacci

In [11]:
n1 = 0
n2 = 1
n3 = 0
termo = int(input("Digite o termo da sequência que você deseja descobrir: "))

if n3 == 1:
    print(0)
elif n3 == 2:
    print(1)
else:
    for i in range(termo - 2):
        n3 = n1 + n2
        n2, n1 = n3, n2

print(n3)

# Qual o nome dessa sequência?

Digite o termo da sequência que você deseja descobrir: 5
3

É o exercício 6

In [12]:
# Compare com a sua solução do exercício 6
for i in range(-100 , 100):
    if i % 12 == 0:
        print("Aqui")
    else:
        print(i)

-100
-99
-98
-97
Aqui
-95
-94
-93
-92
-91
-90
-89
-88
-87
-86
-85
Aqui
-83
-82
-81
-80
-79
-78
-77
-76
-75
-74
-73
Aqui
-71
-70
-69
-68
-67
-66
-65
-64
-63
-62
-61
Aqui
-59
-58
-57
-56
-55
-54
-53
-52
-51
-50
-49
Aqui
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
Aqui
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
Aqui
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
Aqui
-11
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
Aqui
1
2
3
4
5
6
7
8
9
10
11
Aqui
13
14
15
16
17
18
19
20
21
22
23
Aqui
25
26
27
28
29
30
31
32
33
34
35
Aqui
37
38
39
40
41
42
43
44
45
46
47
Aqui
49
50
51
52
53
54
55
56
57
58
59
Aqui
61
62
63
64
65
66
67
68
69
70
71
Aqui
73
74
75
76
77
78
79
80
81
82
83
Aqui
85
86
87
88
89
90
91
92
93
94
95
Aqui
97
98
99